html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

main {
    flex: 1 0 auto;
}

.header-section h5 {
    font-size: 1.4rem;
}

@media (min-width: 576px) {
    .header-section .container{
        padding: 0.5rem 2.3rem;
    }
}

.header-section .container{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


.header-section .logo-ico{
    transform: rotate(45deg);
    position: relative;
    top: 1px;
}

.cover-image {
    background: url("back4.jpg") transparent repeat 0 0;
    background-size: cover;
}

.hero-section {
    color: #fff;
}

.hero-section .jumbotron {
    background-color: transparent;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.hero-section h1 {
    font-weight: 400;
}

@media (min-width: 576px) {
    .hero-section h1 {
        font-size: 3.5rem;
    }
}

.hero-phone {
    font-size: 2.5rem;
}

@media (min-width: 576px) {
    .hero-phone {
        font-size: 3.5rem;
    }
}

.about-me-section {
    margin-bottom: 3rem;
}

.about-me-text {
    font-size:1.2rem;
}

.about-me-section h2,
.services-section h2 {
    font-weight: 400;
}

.about-me-section .phone-number{
    font-size: 1.5rem;
}

.about-me-section .phone-number span{
    color: #f57f0a;
}

.page-offer .services-section {
    background-color: #fff;
}

.services-section {
    background-color: #f7f7f7;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.label-secondary {
  font-size: 1.6rem;
}

.bullets {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
    .services-section .card-img-top {
        height: 13rem !important;
    }
}

.services-section .card-img-top {
    max-height: 18rem;
}

.services-list {
    margin-top: 2.5rem;
}

.line-separator {
    width: 100px;
    position: relative;
    overflow: visible;
    margin-left: 0;
    margin-right: 0;
    border: 0;
    height: 1px;
    background-color: #dfdfdf; 
}

.hero-section .line-separator {
    width: 200px;
}

a:hover {
    text-decoration: none;
    color: #f57f0a;
    border-bottom: 1px solid #f57f0a;
}
.label-black {
  color: #000;
  font-size: 1.3rem;
  font-weight: 400;
}

.line-separator::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    height: 3px;
    width: 50%;
    background-color: #f57f0a;
}

.hero-section .line-separator::before {
    background-color: #f57f0a;
}

.line-separator.text-center {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.line-separator.text-center::before {
    background-color: #f57f0a;
    left: 25%;
}

.card-container {
    display: flex;
    text-align: center;
    transition: transform 0.6s;
    
}

.card-container:hover {
    transform: translateY(-30px);
}

.footer-section {
    background-color: #1b1b1b;
    color: #fff;
    padding: 1rem;
}

.footer-section a {
    color: #fff;
}

.sad-404 {
    font-size: 12rem;
}